.Rating {
    border-radius: 25px;
    background-color:beige;
    padding: 10px;
    width: auto;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.AdminButton{
    display: flex;
}

.UserButton{
    display: flex;
}

.GamePage {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

.GameInfo {
    display:flex;
    flex-direction: column;
}