.GamePage {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.GameInfo {
    display:flex;
}

.NameStars{
    display:flex;
    align-items: flex-end;
}

.GameCover {
    width: 300px;
}