.GamePage {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.GameInfo {
    display:flex;
    
}

.NameStars{
    display:flex;
    align-items: center;
    padding-left:2%;
}

.GameCover {
    width: 300px;
    border-radius: 25px;
}

.Description {
    padding-top:2%;
    padding-bottom:2%;
}
.addReview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.addReview input{
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #999;
    transition:all .2s ease-in;
}

.addReview input:focus {
    outline: none !important;
    border-bottom:1px solid black;
  }