.Filter{
    padding-top:4%;
    margin-left: 2%;
    margin-right: 2%;
}

.searchContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.searchBar{
    height:3em;
    width: 20em;
    position:sticky;
}

.searchBtn{
    margin-left:2%;
    color: black;
    background-color:white;
    transition:all .2s ease-in;
}

.searchBtn:hover{
    margin-left:2%;
    color:white;
    background-color: black;
    border-radius: 10%;
    cursor: pointer;
}

.platformTitle{
    margin-top: 10%;
    margin-left: 10%;

}

.platforms-list{
    display: flex;
    flex-direction: column;
}

.platforms-list-item{
    font-size: 22px;
}

.platforms-list-item input{
    width: 15px;
    height: 15px;
}

/** not used **/
.make {
    margin-top: 15%;
    line-height: 25px;
}

/** not used **/
.make input {
    margin-right: 10px
}