.Rating {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1%;
}

.CommentCard{
  background-color:rgb(65, 147, 255);
  border-radius: 25px;
  width:90%;
  padding: 20px;
  height: 10%;
  display: flex;
}

.AdminButton, .UserButton{
  display: flex;
  align-items: center;
}

.UserReview{
  line-height:40px;
}