/* .Rating{
  margin-bottom:2%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:1%;
} */

/* .pfp{
  display:flex;
  width:80%;
  align-items:center;
} */

/* .CommentCard img {
  width: 50px; 
  height: 50px;
  object-fit: cover;
  margin-right: 2%;
} */

/* .CommentCard{
  display:flex;
  line-height:30px;
  width:100%;
  justify-content:space-between;
} */

/* .buttonStartContainer button{
  margin-left: 5px;
} */


